*{
    outline:  red solid 1px;
}

html *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "メイリオ";
}


.body{
    width: auto;
    height: auto;
    /* background-color: #eae7d2; */
    background-image: url("../images/bg.gif");
    background-repeat: repeat;
    
}

/* background-image: url(images/bg.gif); */

.wrapper{
    width: 910px;
    /* max-height: 870px; */
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

/* .package-10px{
    padding: 10px;
} */

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ HEADER PART ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.header{
    position: relative;
    display: flex;
    flex: auto;
    padding-top: 23px;
    padding-bottom: 3px;
}

.header img{
    margin-left: 25px;
}

.header h1{
    position: absolute;
    left: 90px;
    top: 40px;
    color: #666666;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ NAVIGATION-MENU PART ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.nav{
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
}

.nav-list-item{
    display: flex;
}

.nav-list-item li{
    list-style: none;
    height: 32px;
    width: 142px;
    position: relative;
}

.nav-list-item li p{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nav-list-item li img{
    position: absolute;
}

.nav-list-item li .button{
    z-index: 5;
}


.nav-list-item li a, a:link{
    color: #666666;
    text-decoration: none;
}

.nav-list-item li a:hover img:nth-child(2){
    opacity: 0;
}

.nav-list-item li+li{
    margin-left: auto;
}

/* ☆onmouseover,onmouseoutは、「見栄えの分離」というモットーに反しているためダサいので、後で、使わずに済む方法を調べる */

/* NAVIGATION：画像内の文字の配置に別解有り */

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ MAIN-VISUAL PART ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.main-visual{
    width: 900px;
    margin: auto;
    padding-top: 10px;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ MAIN-AND-ASIDE:FLEX ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.main-and-aside{
    display: flex;
    justify-content: space-between;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ ASIDE PART ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.main-and-aside > .aside{
    /* display: flex; */
    justify-content: flex-end;
}

.aside-ul{
    list-style-type: none;
}

.aside-list-item-i li, .aside-list-item-a li, .aside-list-item-m li{
    display: flex;
    color: #666666;
    font-weight: bold;
    width: 200px;
    height: 82px;
    justify-content: center;
    align-items: center;
    border: #c6c6c6 solid 1px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #fadfe6, #f5c7b3);
}

/* ↓ボタンのどこにマウスオーバーしても、リンクできるようにとの意図で記述。 */
/* 親要素を突き破らないよう最大幅に調整。 */
/* 現実には、「今月のレシピ」が少し寸足らずになってしまっている。 */
/* 時間が許せば、`nth-child`等を使って別々に指定してもいいかも。 */
/* 「a」を書く場所を最初に考えられればもっとダサくならずに済んだと思う。精進しよう。 */
.aside-list-item-i li a, .aside-list-item-a li a, .aside-list-item-m li a{
    padding: 28px 38px;
}

.aside-list-item-i li a:link, a:hover, a:visited{
    color: #666666;
}

.aside-list-item-a li a:link, a:hover, a:visited{
    color: #666666;
}

.aside-list-item-m li a:link, a:hover, a:visited{
    color: #666666;
}

/* 
.aside-list-item li a:hover{
    color: #666666;
}

.aside-list-item li a:visited{
    color: #666666;
} */


/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ FOOTER PART ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.footer{
    height: 23.5px;
    /* background-color: #ffffff; */
    display: flex;
    justify-content: center;
    position: relative;
}

.footer .under-line{
    width: 900px;
    height: 15px;
    position: absolute;
    top: 0px;
    background-color: #ffe294;
    z-index: 1;
}

.footer p{
    position: absolute;
    top: 2.5px;
    z-index: 2;
    font-size: 13.3px;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ index.html↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.main-and-aside > .main-contents-i{
    justify-content: flex-start;
    padding: 10px 10px 8.3px 10px;
}

.new {
    width: 890px;
    height: 142px;
    display: flex;
    border: #666666 solid 1px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

article {
    padding-top: 10px;
    padding-left: 31px;
}

.new > article > ul {
    /* display: list-item; */
    list-style: disc;
}

.new > article > ul li a{
    text-decoration: underline;
    color: blue;
}

.new > article > ul li a:link{
    text-decoration: underline;
    color: blue;
}

.new > article > ul li a:hover{
    text-decoration: underline;
    color: blue;
}

.new > article > ul li a:visited{
    text-decoration: underline;
    color:indigo;
}


.announcements {
    display: flex;
    margin-top: 10px;
    margin-bottom: 7px;
}

.announcements div{
    width: 300px;
    height: 240px;
    box-shadow: 5px 5px 5px #8e8e8e;
    background-image: url("../images/info_bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    /* background-position: 50%; */
}

.announcements div p:nth-child(1){
    display: flex;
    justify-content: center;
    color: #444444;
    font-weight: bold;
    font-size: 20.8px;
    margin-top: 9.5px;
}

.announcements div img{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 17px;
}

.announcements div p:nth-of-type(2){
    height: 75px;
    font-size: 14.4px;
    margin-right: 1.45px;
    margin-left: 5px;
    /* background-image: none; */
    line-height: 1.559em;
}

.announcements div+div{
    margin-left: 30px;
}

.aside-list-item-i li{
    margin: 10px;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ menu.html↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.title-menu{
    height: 37.5px;
    width: 640px;
    background-color: #e1d9a6;
    display: flex;
    margin: 10px 10px 0px 10px;
    border-radius: 7.5px;
    
}

.title-menu img{
    height: 64%;
    /* width: auto; */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.8%;
    margin-right: 0.8%;
    padding-top: 1px;
}

.title-menu p{
    color:#666666;
    font-weight: bold;
    font-size: 120%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2px;
}

.menu-main-visual{
    padding:10px;
}

.menu-main-visual img{
    width: 640px;
    height: 200px;
}

.menu-contents{
    margin: 15px 48px 7.5px 20px;
}

.beverage-kind{
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px dotted #8e8e8e;
}

.beverage-kind img{
    width: 4.35%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 23px;
    padding-top: 1px;

}

.beverage-kind p{
    color: #505050;
    font-size: 1.5em;
    font-weight: bold;
}

.tea{
    margin: 16px 0px 21.5px 20px;
}

.coffee{
    margin: 16px 0px 16px 20px;
}

.tea .beverage-name, .coffee .beverage-name{

    color: #dc6849;
}

.tea .beverage-introduction, .coffee .beverage-introduction{
    color: #666666;
    margin-left: 10px;
    line-height: 1.7em;
}

.aside-list-item-m li{
    margin: 10px;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ access.html↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.main-contents-a{
    display: flex;
    margin: 1em 0em 1.41em 1.875em;
}

.main-contents-a img{
    margin-left: 48.5px;
}

.main-contents-a main p{
    margin-bottom: 1em;
}

.aside-list-item-a li{
    margin: 0px 10px 10px 10px;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ NULL↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */
h2{
    color: #666666;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 img{
    width: 280px;
    opacity: 84%;
}

h2 p:nth-of-type(1){
    font-size: 150%;
    animation: blink 0.15s ease infinite;
}

@keyframes blink{
    75% {opacity: 0.75;}
	100% {opacity: 1;}
}
