*{
    outline:  red solid 1px;
}

html *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.body{
    background-color: #eae7d2;
    background-image: url(images/bg.gif);
    background-repeat: repeat;
}

/* background-image: url(images/bg.gif); */

.wrapper{
    width: 910px;
    max-height: 870px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

.package-10px{
    padding: 10px;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ HEADER PART ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.header{
    position: relative;
    display: flex;
    flex: auto;
    padding-top: 23px;
    padding-bottom: 2px;
}

.header img{
    margin-left: 25px;
}

.header h1{
    position: absolute;
    left: 90px;
    top: 40px;
    color: #666666;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ NAVIGATION-MENU PART ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.nav-list-item{
    display: flex;
}

.nav-list-item li{
    flex-direction: row;
    list-style-type: none;
    width: 140px;
    height: 30px;
    margin:10px;
    position: relative;
}

.nav-list-item li p{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.nav-list-item li+li{
    margin-left: auto;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ MAIN-VISUAL PART ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.main-visual{
    padding: 0px 5px;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ NEW PART (appried for "index.html" only) ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */



/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ MAIN-AND-ASIDE:FLEX ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */

.main-and-aside{
    width: 900px;
    /* max-width: 910px; */
    display: flex;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ MAIN-CONTENTS PART ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */



/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ ASIDE PART ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */



.aside{
    display: flex;
}

.aside-ul{
    list-style-type: none;
    align-items: flex-end;
}

.aside-list-item li{
    display: flex;
    color:#666666;
    font-weight: bold;
    width: 200px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: #c6c6c6 solid 1px;
    border-radius: 15px;
}

/* 🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀↓ FOOTER PART ↓🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀🐀 */
.footer{
    text-align: center;
}
